<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myapp">
<head>
    <title>My Client</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!--<script src="Scripts/angular.min.js"></script>-->
    <!--<script src="Scripts/angular-route.min.js"></script>-->
    
</head>
<body ng-controller="ProductController">
    Search <input type="text" ng-model="search.$" />
    <br /> <br />
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>

        <tr ng-repeat="product in result | filter:search">
            <td>{{product.Id}}</td>
            <td>{{product.Name}}</td>
            <td>{{product.Price}}</td>
            <td>{{product.Quantity}}</td>
        </tr>

    </table>

    <script type="text/javascript">
        var myapp = angular.module('myapp', []);
        myapp.controller('ProductController', function ($scope, $http) {
            $http.get('http://localhost:12869/api/product').success(function (response) {
                $scope.result = response;
            });
        });
    </script>
</body>
</html>
